<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Root Logger -->
    <root>
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ROLLINGFILE"/>
    </root>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <param name="file" value="application.log"/>
        <param name="append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="ROLLINGFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="rolling.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <!-- Daily Rolling File Appender -->
    <appender name="DAILYFILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="daily.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <!-- Specific Logger Configurations -->
    <logger name="com.mycompany.critical" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.mycompany.debug" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="DAILYFILE"/>
    </logger>
</log4j:configuration>
